@page "/"
@using BlazingPizza.Services

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject OrderState OrderState

<div class="main">
  <h1>Blazing Pizzas</h1>
  <ul class="pizza-cards">
    @if (specials != null)
    {
      @foreach (var special in specials)
      {
        <li @onclick="@(() => OrderState.ShowConfigurePizzaDialog(special))"
          style="background-image: url('@special.ImageUrl')">
          <div class="pizza-info">
            <span class="title">@special.Name</span>
            @special.Description
            <span class="price">@special.GetFormattedBasePrice()</span>
          </div>
        </li>
      }
    }
  </ul>
</div>
@if (OrderState.showingConfigureDialog)
{
  <ConfigurePizzaDialog Pizza="OrderState.configuringPizza" />
}
@code {
  List<PizzaSpecial> specials = new();
  Pizza configuringPizza;
  bool showingConfigureDialog;
  protected override async Task OnInitializedAsync()
  {
    specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
  }
  void ShowConfigurePizzaDialog(PizzaSpecial special)
    {
      configuringPizza = new Pizza()
        {
          Special = special,
          SpecialId = special.Id,
          Size = Pizza.DefaultSize
        };

      showingConfigureDialog = true;
    }
}

//https://learn.microsoft.com/en-in/training/modules/interact-with-data-blazor-web-apps/7-exercise-share-data-in-blazor-applications